<app-progress-bar label="HTML" [progress]="100" [barColor]="progressBarColors.purple"></app-progress-bar>
<app-progress-bar label="Javascript" [progress]="80" [barColor]="progressBarColors.red"></app-progress-bar>
<app-progress-bar label="CSS" [progress]="70" [barColor]="progressBarColors.yellow"></app-progress-bar>
<app-progress-bar label="Vue" [progress]="65" [barColor]="progressBarColors.green"></app-progress-bar>
<app-progress-bar label="Angular" [progress]="55" [barColor]="progressBarColors.blue"></app-progress-bar>
<app-progress-bar label="React" [progress]="35" [barColor]="progressBarColors.orange"></app-progress-bar>