@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');

h1 {
  font-family: 'Jura', sans-serif;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
  margin: 0px 175px;

  &__title {
    font-size: 4rem;
  }

  &__photo {
    height: 500px;
  }

  &__logo {
    height: 300px;
    margin-top: -90px;
  }
}
