@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
  margin: 0px 175px;

  &__title {
    font-size: 5rem;
    white-space: nowrap;
  }

  &__description {
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 20px 0;
    white-space: normal;
  }

  &__buttons-container {
    display: flex;
    &__button-secondary {
      margin-left: 10px;
    }
  }

  &__photo {
    height: 500px;
  }

  &__logo {
    height: 300px;
    margin-top: -90px;
  }
}

h1 {
  font-family: 'Jura', sans-serif;
}
