<main class="home">
  <section>
    <h1 class="home__title">{{ homeModuleTexts.greet }}</h1>
    <p class="home__description"> {{ homeModuleTexts.description }} </p>
    <div class="home__buttons-container">
      <app-button-primary [label]="homeModuleTexts.aboutButtonLabel"
        (clicked)="openPage(ModuleName.About)"></app-button-primary>
      <app-button-secondary class="home__buttons-container__button-secondary"
        [label]="homeModuleTexts.contactButtonLabel" (clicked)="openPage(ModuleName.Contact)"></app-button-secondary>
    </div>
  </section>
  <section>
    <article>
      <figure>
        <img class="home__photo" src="../../../assets/img/photo4.svg">
        <figcaption></figcaption>
      </figure>
      <figure>
        <img *ngIf="isDarkModeEnable" class="home__logo" src="../../../assets/img/logo/symbol-text-white.svg">
        <img *ngIf="!isDarkModeEnable" class="home__logo" src="../../../assets/img/logo/symbol-text-black.svg">
        <figcaption></figcaption>
      </figure>
    </article>
  </section>
</main>