<main class="home">
  <section>
    <h1 class="home__title">{{ greetText }}</h1>
    <h2>Henrique Petrelli</h2>
    <p>henriquepetrelli96@gmail.com</p>
    <p>+55 (41)99945-9041</p>
    <p>Curitiba,Paraná - Brasil</p>
    <p>{{ age }}</p>
  </section>
  <section>
    <article>
      <figure>
        <img class="home__photo" src="../../../assets/img/photo4.svg">
        <figcaption></figcaption>
      </figure>
      <figure>
        <img *ngIf="isDarkModeEnable" class="home__logo" src="../../../assets/img/logo/symbol-text-white.svg">
        <img *ngIf="!isDarkModeEnable" class="home__logo" src="../../../assets/img/logo/symbol-text-black.svg">
        <figcaption></figcaption>
      </figure>
    </article>
  </section>
</main>