.dark-theme {
  --text-color: #fff;
  --background-primary: #2f2f33;
  --background-secondary: #27272a;
  --border-color: #484848;
  --background-hover: #b9bac752;
  --element-focus: #dedede;
  --primary: #6920ff;
  --primary-dark: #4b17b4;
  --primary-darkest: #330e7f;
}
