.dark-theme {
    --text-color: #FFF;
    --background-primary: #2F2F33;
    --background-secondary: #27272A;
    --border-color: #484848;
    --background-hover: #B9BAC752;
    --element-focus: #DEDEDE;
    --primary: #6920ff;
}