.light-theme {
    --text-color: #14110F;
    --background-primary: #FFF;
    --background-secondary: #F5F6FA;
    --border-color: #DEDEDE;
    --background-hover: #B9BAC752;
    --element-focus: #14110F;
    --primary: #ff521b;
}