<nav id="navbar">
  <img src="../../../../assets/logo.svg" class="logo-img" />
  <ul>
    <li><a (click)="tabChange('home')" id="home" routerLink="home">Home</a></li>
    <li><a (click)="tabChange('about')" id="about" routerLink="about">Sobre</a></li>
    <li><a (click)="tabChange('experience')" id="experience" routerLink="experience">Experiências</a></li>
    <li><a (click)="tabChange('skills')" id="skills" routerLink="skills">Habilidades</a></li>
    <li><a (click)="tabChange('projects')" id="projects" routerLink="projects">Projetos</a></li>
    <li><a (click)="tabChange('education')" id="education" routerLink="education">Educação</a></li>
    <li><a (click)="tabChange('contact')" id="contact" routerLink="contact">Contato</a></li>  
  </ul>
  <label>
    <input class='toggle-checkbox' [checked]="isToggleThemeChecked" type='checkbox' [(ngModel)]="isToggleThemeChecked" (change)="toggleDarkTheme()"/>
    <div class='toggle-slot'>
      <div class='sun-icon-wrapper'>
        <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
      </div>
      <div class='moon-icon-wrapper'>
        <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
      </div>
    </div>
  </label>
</nav>