@import url('/src/assets/style/variables/variables.less');

#navbar {
  padding: 0 @spacing-m;
  display: flex;
  background-color: @background-secondary;
  height: 70px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.7);
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

li :active {
  color: @text-active;
}

li :focus-visible,
a :focus-visible {
  outline-color: @primary;
  outline-width: 2px;
  outline-style: solid;
  border-radius: @size-radius-x200;
  border: 0;
}

li :hover {
  border-bottom: @size-border-x500 solid @primary;
  outline: 0;
  border-radius: 0;
}

.tab-active {
  border-bottom: @size-border-x500 solid @primary;
  border-radius: 0;
}

a {
  color: @text-color;
  padding: 24.5px @spacing-xm;
  text-decoration: none;
  border-radius: @size-radius-x200;
}

.logo-img {
  height: 100px;
  margin-top: -10px;
  margin-left: -20px;
}
