@import url('../themes/dark-theme.less');
@import url('../themes/light-theme.less');

//Principal
@primary: var(--primary);

//Text
@text-color: var(--text-color);

//Background
@background-primary: var(--background-primary);
@background-secondary: var(--background-secondary);

//Border
@border-color: var(--border-color);

//Element
@element-on-success: #3BB273;
@element-on-alert: #E1BC29;
@element-on-error: #E15554;
@element-disabled: #C9CAD4;
@element-focus: var(--element-focus);