<footer class="footer">
        <button class="footer__whatsapp-button" tabindex="89" (click)="onClickOpenPage(FooterButtons.WhatsApp)"><img
                        src="../../../../assets//icons/whatsApp/whatsapp-white.svg" /></button>
        <button class="footer__linkedin-button" tabindex="90" (click)="onClickOpenPage(FooterButtons.Linkedin)"><img
                        src="../../../../assets//icons/linkedin/linkedin-white.svg" /></button>
        <button class="footer__email-button" tabindex="100" (click)="onClickOpenPage(FooterButtons.Email)"><img
                        src="../../../../assets//icons/email/email-white.svg" /></button>
        <button class="footer__github-button" tabindex="110" (click)="onClickOpenPage(FooterButtons.Github)"><img
                        src="../../../../assets//icons/github//github-white.svg" /></button>
        <hr />
</footer>