@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400&display=swap');
@import url('./assets/style/variables/variables.less');

body{
  font-family: 'Epilogue', sans-serif;
  background-color: @background-primary;
  color: @text-color;
  margin: 0;
}

main {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}