<nav id="navbar" class="navbar">

  <img src="../../../../../assets/img/logo/symbol.svg" class="logo-img" />

  <ul class="nav-list">
    <li class="nav-item" *ngFor="let tab of getTabs; index as i">
      <a class="nav-link" [tabindex]="i + 1" (click)="tabChangeAnimation(tab.moduleName)" [id]="tab.id"
        [routerLink]="[tab.moduleName]" [routerLink]="tab.route">{{tab.label}}</a>
    </li>
    <div id="active" class="active" routerLinkActive="active"></div>
  </ul>
  <div class="navbar__buttons">
    <app-language-select></app-language-select>

    <app-theme-toggle></app-theme-toggle>
  </div>
</nav>